/*========================================

    Typography Styles
    _____________

========================================*/

@mixin heading-font {
    font-family: 'Open Sans', sans-serif;
}

@mixin body-font {
    font-family: 'Open Sans', sans-serif;
}

body {
    @include body-font;
}

h3 {
    line-height: 1.2;
    margin-bottom: 1em;
    @include heading-font;
    @include font-size(32);
}

p,
a,
button {
    line-height: 2;
    margin-bottom: 1em;
    @include font-size(18);
}
