/*========================================

	Layout Styles
	_____________

	For Header, Main and Footer sections

========================================*/

/*========================================

	HTML & Body Styles

========================================*/

body {
	&.mobile-no-scroll {
		@include breakpoint(phablet) {
			width: 100%;
			position: fixed;
		}
	}
}

/*========================================

	Main Section Styles

========================================*/

.section-padded {
	padding: 50px 0;
}
