/*========================================

	Grid Styles
	
	Credit: Sonny Prince - primary developer of grid.scss
	https://github.com/sonnyprince
	_____________

========================================*/

/*========================================

	Resonsive Mixin For Responsive 
	Styles Within The Normal Classes.

========================================*/

$mobile-first:	YES;

$width-style: 'max-width';

@if $mobile-first == YES {
	$width-style: 'min-width';
}

@mixin breakpoint($point) {
	@if $point == desktop {
		@media ($width-style: 1200px) { @content ; }
	} @else if $point == small-desktop {
		@media ($width-style: 1024px) { @content ; }
	} @else if $point == tablet {
		@media ($width-style: 768px)  { @content ; }
	} @else if $point == phablet {
		@media ($width-style: 760px) { @content ; }
	} @else if $point == large-mobile {
		@media ($width-style: 569px)  { @content ; }
	} @else if $point == mobile {
		@media ($width-style: 414px)  { @content ; }
	} @else if $point == small-mobile {
		@media ($width-style: 320px)  { @content ; }
	} @else {
		@media ($width-style: $point) { @content ; }
	}
}
